# ============================================================
# Immich
# ============================================================
# PostgreSQL設定
DB_USERNAME=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD
DB_DATABASE_NAME=YOUR_DB_NAME

# Immichサーバー設定
PUBLIC_SERVER_URL=http://example.com  # 本番環境では実際のドメインに変更してください
IMMICH_LOG_LEVEL=verbose

# タイムゾーン
TZ=Asia/Tokyo

# ============================================================
# Grafana
# ============================================================
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=YOUR_GRAFANA_ADMIN_PASSWORD
GF_SERVER_ROOT_URL=http://grafana.example.com
GF_SERVER_SERVE_FROM_SUB_PATH=false
