# PostgreSQL設定（docker-compose.ymlで直接参照）
DB_USERNAME=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD
DB_DATABASE_NAME=YOUR_DB_NAME

# Immichサーバー設定
PUBLIC_SERVER_URL=http://sample.com  # 本番環境では実際のドメインに変更してください
IMMICH_LOG_LEVEL=verbose

# タイムゾーン
TZ=Asia/Tokyo